body {
	font-family: 'Open Sans', 'Noto Sans TC', sans-serif;
	font-size: large;
	text-align: justify;
	text-justify: inter-word;
	background-color: #3d3d3d;
}

.title {
	font-family: 'Playfair Display', sans-serif;
}

.title-shadow {
	font-family: 'Playfair Display', sans-serif;
	text-shadow: 0.1em 0.1em 0.25em #000000;
}

.code {
	font-family: 'Space Mono', monospace;
}

.indent {
	text-indent: 1.8em;
}
